{% extends "layout.html" %}
{% block body %}

{% if g.sched.letter_days and g.sched.periods %}

<form action="" method="post">
<table class="table-bordered table-striped table-highlight-xy">
	<colgroup></colgroup>
	{% for letter in g.sched.letter_days %}<colgroup></colgroup>{% endfor %}
	<tr>
		<th>Period</th>
		{% for letter in g.sched.letter_days %}
		<th>{{ letter.name }}</th>
		{% endfor %}
	</tr>
	
	{% for period in g.sched.periods %}
	<tr>
		<td><strong>{{ period.name }}</strong><br>
			<small>{{ period.start_time|time }} - {{ period.end_time|time }}</small></td>
		{% for letter in g.sched.letter_days %}
		<td>
			<input type="text" name="sched_{{ letter.id }}_{{ period.id }}">
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<div align="right">
<input type="submit" value="Download iCal file" class="button colored-button">
</div>
</form>
{% else %}
<p>School is not set up!</p>
{% endif %}
{% endblock %}