{% extends "layout.html" %}
{% block body %}
<form action="" method="post">
<table>
	<tr>
		<th>Period</th>
		{% for letter in g.sched.letter_days %}
		<th>{{ letter.name }}</th>
		{% endfor %}
	</tr>
	
	{% for period in g.sched.periods %}
	<tr>
		<td><strong>{{ period.name }}</strong><br>
			<small>{{ period.start_time }} - {{ period.end_time }}</small></td>
		{% for letter in g.sched.letter_days %}
		<td>
			<input type="text" name="sched_{{ letter.id }}_{{ period.id }}">
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<input type="submit">

</form>
{% endblock %}