<!DOCTYPE html>
<html>
<head>
<title>Schedule</title>
</head>

<body>
<form action="" method="post">
<table>
	<tr>
		<th>Period</th>
		{% for letter in letter_days %}
		<th>{{ letter }}</th>
		{% endfor %}
	</tr>
	{% set i = 0 %}
	
	{% for period in periods %}
	<tr>
		<td><strong>{{ period.name }}</strong><br>
			<small>{{ period.start }} - {{ period.end }}</small></td>
		{% set j = 0 %}
		{% for letter in letter_days %}
		<td>
			<input type="text" name="sched_{{ i }}_{{ j }}">
		</td>
		{% set j = j + 1 %}
		{% endfor %}
	</tr>
	{% set i = i + 1 %}
	{% endfor %}
</table>

<input type="submit">

</form>

</body>
</html>